.banner {
  background: url("https://fotos.tevology.tk/fotos/kacerola/fotos_web/banner-blog.jpg") no-repeat center;
 -webkit-background-size: 100% 350px;
 -moz-background-size: 100% 350px;
 -o-background-size: 100% 350px;
 background-size: 100% 350px;
 height: 350px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.hover-ct {
  border-bottom: 3px solid #FFF;
}

.hover-ct-selected, .hover-ct:hover {
  border-bottom: 3px solid #8BC3CA;
}
