<div class="font-apercu" *ngIf="about">
  <div class="banner">
    <div class="text-center">
      <p style="font-size: 40px; font-weight: bold; color: #fff;">SOBRE NOSOTROS</p>
    </div>
  </div>
  <div class="form-group row text-center w-100">
    <div class="col"></div>
    <div class="col-6">
      <br>
      <br>
      <p style="font-size: 18px;">La Kacerola de Kari es una manera de mostrar nuestra pasión por la cocina, es una oportunidad para dar a conocer nuestros conocimientos y experiencias en el mundo culinario, todo hecho con un ingrediente principal “el amor” que le ponemos a cada cosa que hacemos.</p>
      <br>
      <br>
    </div>
    <div class="col"></div>
  </div>
  <div class="form-group row w-100" style="background-color: #f9faf9;">
    <div class="col-12">
      <div class="container">
        <p style="font-size: 22px;">
          <img class="pl-5" [src]="about" alt="foto" align="right" height="500px;"><span style="font-size: 36px; font-weight: bold;">ACERCA DE MI</span><br><br>
          Soy una apasionada por la cocina y sobre todo por la repostería, paso más horas del día en la cocina que en otra parte de mi casa, esto empezó cuando tenía 14 años de edad.
          Desde muy adolescente mi mamá me invitaba a participar en la preparación de los almuerzos de mi familia, vivíamos con papá, mamá y dos hermanos, pero lo que más me gustaba y disfrutaba era preparar los postres para después del almuerzo.
          Antes de casarme soñaba con tener mi cocina grande con un horno inmenso, mi batidora  profesional y todos los utensilios necesarios para hacer mis tortas y  preparar diversas comidas.<br>
          Todo empezó como una actividad de relajo, hasta que me di cuenta que podía ser una profesión de gran pasión en mi vida.<br>
          <br>
          Hice mi carrera en Gestión de Recursos Humanos, cuento con mas de 15 años de experiencia en ese rubro, sin embargo  la cocina siempre estuvo ahí en una parte de mi corazón.
          Fue así que decidí estudiar cursos especializados de repostería, bondades del chocolate y las diversas comidas deliciosas, saludables y prácticas, quise estudiar y conocer a los grandes de la Repostería Nacional e Internacional.
          Recuerdo mucho mi posgrado de Administración y Gestión de habilidades Directivas en Centrum Católica, fue uno de mis mayores logros.<br>
          <br>
          Definitivamente me esforcé mucho por aprender y ahora poner en práctica todos mis conocimientos, tengo una gran satisfacción cuando veo los buenos comentarios de quienes prueban mis productos, eso me hace muy feliz.
          Me encanta innovar en recetas, si es postre siempre con un toque de chocolate (si  no totalmente chocolate) o los rellenos de fruta, me gusta darle un toque de frescura y se sienta saludable.<br>
          <br>
          <img [src]="banner" alt="banner-2" width="100%;" height="400px;">
          <br>
          <br>
          Desde que empecé en este mundo maravilloso de la gastronomía, me apropié de esta frase #conamortodosabemejor, el amor es el ingrediente principal en todo lo que hago.💓😍💗🙏<br>
          Me encanta preparar algunos postres de mi adolescencia ya que muchos de ellos siempre han sido mis favoritos como un delicioso keke de vainilla, naranja o de chocolate (infaltable en los cumpleaños).<br>
          <br>
          Me encanta leer los libros de cocina, buscar recetas en Internet, modificar y mejorar recetas, ver vídeos constantemente y buscar tips de cocina para luego compartirlo.<br>
          Sueño con dar conferencias a muchas personas que quieran poner en práctica su pasión por la cocina.<br>
          Mi Viaje a Europa; fue una de las mejores experiencias que he tenido, visité "La Chocolatería San Ginés" y deguste  los mejores churros y chocolates de Europa.<br>
        </p>
      </div>
    </div>
  </div>
</div>
